#container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

#visContainer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 300px;
	background-color: #3B3A32;
}

#aceContainer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 300px;
}

.node {
  fill: #d32661;
  stroke: #fff;
  stroke-width: 1;
}

.editor-gutter-highlight {
	background-color: rgba(247, 15, 94, 0.9);
	color: white;
}