#container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#visContainer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 300px;
	background-color: green;
}

#aceContainer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 300px;
}