#loadingFiller {
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9;
}

#container-main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	display:none;
}

#container-buttons {
	position: absolute;
	top: 0px;
	height:40px;
	left:0px;
	right: 0px;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;

	background-color: #171714;
}

#container-buttons button {
	float: right;
	margin-left: 10px;
}

#container-prototype {
	position: absolute;
	top: 40px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#container-vis {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 300px;
	background-color: #272822;
}

#container-ace {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 300px;
}

.node {
  fill: #d32661;
  stroke: #fff;
  stroke-width: 1;
}

.editor-gutter-highlight {
	background-color: rgba(247, 15, 94, 0.9);
	color: white;
}